@font-face {
    font-family: 'PorscheFont';
    src: url('fonts/911porschav3title.ttf');
}

@media screen and (min-width:576px) {
    .legacy-margin {
        margin: 0 4rem;
    }
}

.bg_image_1 {
    background-image: url(images/porsche-model.png);
    height: 1000px;
    width: auto;
}

.footer,
.navbar {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 43%, rgba(71, 71, 71, 1) 100%);
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a,
a:hover {
    text-decoration: none;
}

.footer {
    padding: 5rem 0;
    color: #777;
}

.footer .footer-site-logo {
    color: #fff; 
}

.footer .nav-links li {
    margin-bottom: 10px;
    
}

.footer .nav-links li a {
    color: gray;
}

.footer .nav-links li a:hover {
    color: #fff;
}

.footer .btn-blue-color {
    background-color: #196fd2;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

.footer .social{
    display: flex;
    justify-content: center;
}

.footer .social li a {
    color: gray;
    padding: 7px;
}

.footer .social li a:hover {
    color: #fff;
}

.footer .copyright {
    border-top: 1px solid #404040;
}

.footer .porsche-logo{
    font-family: 'PorscheFont';
    color: white;
    text-align: center;
}